import init.recovery.power.rc

on init
    wait /dev/block/platform/msm_sdcc.1
    symlink /dev/block/platform/msm_sdcc.1 /dev/block/bootdevice

    export ANDROID_ROOT /system_root
    export LD_CONFIG_FILE /sbin/ld.config.txt

    setprop sys.usb.ffs.aio_compat 1
    setprop ro.board.platform msm8974

    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on boot
    start chargeled
    start getadjust

service patchlevel /sbin/patchlevel.sh
    LD_LIBRARY_PATH /sbin:/vendor/lib
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service chargeled /sbin/chargeled
    disabled
    seclabel u:r:charger:s0

service getadjust /sbin/sh /sbin/readtimeprop.sh
    oneshot
    disabled
    seclabel u:r:recovery:s0

service sbintimekeep /sbin/sbin_timekeep restore
    oneshot
    disabled
    seclabel u:r:recovery:s0

service sbinqseecomd /sbin/qseecomd
    LD_LIBRARY_PATH /sbin:/vendor/lib
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    LD_LIBRARY_PATH /sbin:/vendor/lib
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    LD_LIBRARY_PATH /sbin:/vendor/lib
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start sbinqseecomd

on property:sys.listeners.registered=true
    start hwservicemanager
    start keymaster-3-0

on property:twrp.timeadjusted=1
    start sbintimekeep
